// Першим: modern-normalize
@use './variables' as *;
@use './mixins' as *;
@use './base' as *;

.card {
  padding: 2em;
}

ul {
  list-style: none;
  padding: 0;
}

address {
  font-style: normal;
}

:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #213547;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  background-color: $bg-color;
}

button {
  background-color: $bg-color;
}

button:hover,
button:focus {
  background-color: $accent-color;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  display: grid;
  place-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay {
  max-width: 1600px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image:
    linear-gradient(#2f303a66 40%), url('../components/hero/Img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.list-item {
  width: 300px;
}

.list-item::before {
  display: block;
  content: '';
  height: 120px;
  // background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.list-item:nth-child(1)::before {
  background-image: url('../components/advantages-list/antenna\ 1.png');
}

.list-item:nth-child(2)::before {
  background-image: url('../components/advantages-list/clock\ 1.png');
}

.list-item:nth-child(3)::before {
  background-image: url('../components/advantages-list/diagram\ 1.png');
}

.list-item:nth-child(4)::before {
  background-image: url('../components/advantages-list/astronaut\ 1.png');
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #535bf2;
  transform: translateX(-100%);
  transition: transform 500ms linear;
}

.thumb:hover::before {
  transform: translateX(0%);
}

.th-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  opacity: 0;
  transition: opacity 500ms linear;
}

.thumb:hover .th-2 {
  opacity: 1;
}

.body {
  padding-top: 80px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 80px;
  background-color: #888;
  z-index: 10;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #646cff58;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 400px;
  width: 600px;
  background-color: #f9f9f9;
  z-index: 999;
}

form {
  text-align: center;
  padding: 50px;
  background-color: #f3eeee;
  width: 500px;
  color: #1a1a1a;
}

.file-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-label {
  position: relative;
  width: 100%;
  padding: 16px;
  background-color: #08be84;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.file-element {
  position: absolute;
  inset: 0;
  width: 0;
  opacity: 0;
}

.file-placeholder {
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
}

.file-info {
  display: inline-block;
  margin-top: 6px;
  width: 100%;
  padding: 6px 70px;
  background-color: #8888883b;
  background-image: url('../components/inputFile/document.png');
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: 6px 50%;
  font-size: 16px;
  text-align: center;
}
